<section class="aboutus-section">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8 mb-5">
          <div class="about-img">
            <div class="main-img">
              <img [src]="Images.main" >
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="about-cards">
            <div *ngFor="let about of abouts" class="about-card">
              <div class="card-title">
                <div class="icon">
                  <img [src]="about.icon" alt="About Icon">
                </div>
                <div class="title">
                  <h3>{{ about.title }}</h3>
                </div>
              </div>
              <div class="card-details">
                <p>{{ about.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- Our Story Section -->
            <div class="our-story mt-5">
              <h2>{{ story.title }}</h2>
              <p>{{ story.description }}</p>
            </div>

            <!-- Our Team Section -->
            <div class="our-team mt-5">
              <h2>Meet the Team</h2>
              <div class="team-members">
                <div *ngFor="let member of team" class="team-member">
                  <img [src]="member.image" alt="{{ member.name }}">
                  <h3>{{ member.name }}</h3>
                  <p>{{ member.role }}</p>
                </div>
              </div>
            </div>

            

    </div>
  </div>


</section>

